.web{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-style{
  max-width: 1200px;
  min-width: 800px;
}

h1{
  margin: 15px auto;
}

h3{
  margin: 15px auto;
}

header{
  height: 50px;
  display : grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

header>div{
  margin : 10px;
}

header>span{
  text-align: end;
  margin :10px
}

.input-form{
  height: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid;
  margin-top: 10px;
}

.input-form > section {
  margin: 10px;
}

.todolist{
  border: 1px solid;
  padding: 10px
}

.list-box{
  width: 250px;
  height: 150px;
  border: 1px solid;
  justify-content: center;
  align-items: center;
}